@model ExpenseTracker.Models.User

@{
    ViewBag.Title = "ForgotPassword";
}



@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Forgot Password</legend>
        <h5>Enter your email id here and shortly an email notification will be sent to you with new password </h5>
        <table>
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Email)
                    </div>
                 </td>
                <td>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Email)
                        @Html.ValidationMessageFor(model => model.Email)
                    </div>
                </td>
            </tr>
             <tr>
            <td></td>
            <td>
                <p>
                    <input type="submit" value="Submit" />
                </p>
            </td>
        </tr>
            </table>
        </fieldset>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
